.bodywrap {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}

.main__home {
    .container__home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 30px auto 45px auto;
        grid-gap: 17px;
        max-width: 1200px;

        .service--layout:first-child {
            grid-row: 1/4;
            grid-column: 1/3;

        }

        .service--layout:nth-child(2) {
            grid-row: 1/2;
            grid-column: 3/4;
        }

        .service--layout:nth-child(3) {
            grid-row: 2/3;
            grid-column: 3/4;
        }
    }

    .service__info {
        margin-left: 30px;

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #777;
            margin: 0;
            background: #FFECE1;
        }

        h6 {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 12px;
            background: #FFECE1;
        }
    }

    .service--layout img {
        width: 100%;
    }

    .service__ri {
        display: flex;
        background: #FFECE1;
        border-radius: 3px;
        padding: 0 20px;
        align-items: center;

        img {
            width: 68px;
            height: 68px;
            background: #FFECE1;
        }
    }

}

.product-sale {
    margin-bottom: 45px;

    .sale-title h2 a {
        background-image: url(//bizweb.dktcdn.net/100/459/658/themes/870139/assets/background_title1.png?1664955292457);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 100%;
        text-align: center;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        padding: 20px 0;
        display: block;
        color: #A05139;
    }

    .sale {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        .sale-card {
            // display: flex; <--- error message
            overflow: auto;
        }
    }

    .card--sale-price {
        text-decoration: line-through;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #8C8C8C;
        margin-right: 10px;
    }

    .card--price {
        font-weight: 700;
    }
}

// CSS của cụm card
.sale__card-slider {
    margin: 0 20px;
    width: 268px;

    .sale__card-slider--img {
        position: relative;
        margin-bottom: 15px;
        border: 1px solid #F2F2F2;
        border-radius: 3px;
        width: 268px;
    }


    .sale__card-slider--a {
        display: flex;
        justify-content: center;

        img {
            width: 239px;

            .card-slider--img {
                width: 100%;
                height: 239px;
                margin: 0px;
            }

        }
    }

    .slick-slide {
        margin-right: 30px;
        margin-left: 15px;
    }

    .card--sale-price {
        margin-right: 10px;
        text-decoration: line-through;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #8C8C8C;
        margin-right: 10px;
    }

    .card--price {
        font-weight: 700;
    }
}

.card-slider--btn {
    display: flex;
    margin: 7px;

    .slider--button {
        width: calc(100% - 60px);
        margin-right: 12px;
        margin-left: 5px;
        padding: 11px 13px;
        color: #A05139;
        background: #ffb9a4;
        border: 1px solid #ffb9a4;
        border-radius: 3px;
        font-weight: 700;
        font-size: 14px;
    }

    .slider--button-icon {
        margin-top: 0;
        padding: 11px 13px;
        color: #ffb9a4;
        font-size: 14px;
        border: none;
        float: left;
        margin-right: 4px;
        background: #FFF4F0;
        border: 1px solid #ffb9a4;
        border-radius: 3px;
    }
}

.slick-arrow {
    border: 1px solid #E0E0E0;
    width: 36px;
    height: 36px;
    z-index: 2;
    background: transparent;
    position: absolute;
    top: calc((100% - 56px) / 2);
    transform: translate(0, -50%);
    &:hover {
        background: #ffb9a4;
    }
}


.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

//----------------------------------------------------------------

.new-product {
    display: flex;
    overflow: hidden;
    margin-bottom: 35px;

    .NewProduct-title {
        h2 {
            background-image: url(//bizweb.dktcdn.net/100/459/658/themes/870139/assets/background_title2.png?1664955292457);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: left;
            margin: 0;
            padding: 20px 0;
        }

        a {
            text-align: center;
            font-weight: 900;
            font-size: 24px;
            line-height: 29px;
            display: block;
            color: #225A21;
        }
    }
}

.all-product {
    .allProduct-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;
        background-image: url(//bizweb.dktcdn.net/100/459/658/themes/870139/assets/background_title3.png?1664955292457);
        background-repeat: no-repeat;
        background-position: top;
        padding-top: 15px;
        height: auto;
    }

    .allProduct__tabs {
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: relative;
        padding: 0;

        a {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #2E747E;
            cursor: pointer;
        }
            &:after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                height: 2px;
                width: 100%;
                background: transparent;
            }
    }

    li {
        list-style: none;
    }

    .all-product__active {
        position: relative;
    }
}